<div class="row">
    <div class="col-12">
        <h1>Marka Ekleme</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <form method="post" action="/Category/CreateCategory">
            <label class="form-label">Kategori Adı</label>
            <input class="form-control border-1 border-secondary" name="kategori_Adi" />

            <button class="btn btn-outline-primary float-end" type="submit">Kategoriyi Kaydet</button>
        </form>
    </div>
</div>








